.card {
  position: relative;
  min-height: 14em;
  border: 1px solid rgba(53, 52, 52, 0.404);
  border-radius: 10px;
  width: 300px;
  height: 414px;
  grid-template-columns: [x0] 1fr [x1] 1fr [x2];
  grid-template-rows: [y0] 40px [y1] 190px [y2] 26px [y3] 75px [y4] 30px [y5] 1fr [y6];
  transition: all 0.4s ease;
  padding: 12px;
}
.card:hover {
  transform: translateY(-8px);
}

.img {
  display: block;
  margin: auto;
  grid-column: x0 / x2;
  grid-row: y1/y2;
  max-width: 320px;
  padding-top: 2%;
}

.none {
  text-decoration: none;
  color: rgba(48, 30, 9, 0.616);
}

.types {
  grid-column: x0 / x2;
  grid-row: y3/y4;
  display: flex;
  justify-content: center;
  padding-top: 3%;
}

.name {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: "Verdana", sans-serif;
  font-size: 1.5rem;
  color: rgba(48, 30, 9, 0.616);
}

.typesText {
  display: flex;
  justify-content: center;
  font-family: "Verdana", sans-serif;
  font-size: 1rem;
}
