.mainContainer {
  display: flex;
  flex-direction: rox;
  justify-content: space-around;
  text-decoration: none;
  padding: 20px;
  background-color: #1e302e;
}

.linkText {
  text-decoration: none;
}
