.mainContainer {
  display: flex;
  flex-direction: rox;
  justify-content: space-around;
  text-decoration: none;
  padding: 20px;
  background-color: #1e302e;
}
.img {
  padding-top: 10px;
}

.button {
  text-decoration: none;
  width: 8vw;
  height: 5vh;
  background-color: #9ad0f2;
  color: #1e302e;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.651);
  font-family: "Verdana", sans-serif;
  font-size: 0.98rem;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  color: #1e302e;
  background-color: white;
}
